 <style>
    .fundofixo {
      background: url('image/MENTE_RENOVADA.png') no-repeat center center fixed;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
    }

    main.container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      margin-top: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>

