 <style>.fundofixo {
  background-color: #eef3f6 !important; /*Fundo Cinza*/
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

 main.container {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   margin-top: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 /* ==============================
   Força NAV LINKS sempre iguais
   ============================== */
 .navbar.navbar-expand-lg .navbar-nav .nav-link {
   font-size: 1rem !important;
   /* escolha o valor que quiser */
   font-weight: bold !important;
   text-transform: uppercase !important;
   letter-spacing: 0.03em;
   /* opcional, deixa mais “respirado” */
 }

 </style>